body {
    font-family: Arial, sans-serif;
    background-image: url('bgimage.jpeg');
    background-size: 100%;
    margin: 0;
    padding: 0;
    color: black;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.task_input {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.task_input input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.task_input button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

.task_input button:hover {
    background: #45a049;
}

.task_list, .completed-list {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: rgba(200, 200, 200, 0.9);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    background: rgba(150, 250, 150, 0.9);
}

li span {
    flex-grow: 1;
}

li div {
    display: flex;
}

li button {
    margin-left: 5px;
}

li input[type="checkbox"] {
    margin-right: 10px;
}
